body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
   
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #5D4954;
    font-family: "Poppins", sans-serif;
    color: white;
    width: 100%;
    z-index: 1;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links
{
    display: flex;
    justify-content: space-between;
    width: 30%;
}

 a{
    text-decoration: none;
    color: rgb(226, 226, 226);
}

ul li{
    list-style: none;
}

.burger{
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    /* transition: all 0.3s ease; */
}

@media  (max-width: 750px) {
    .nav-links li {
        opacity: 0;
    }

    body {
        overflow-x: hidden;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        height: 52vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        transform: translateX(100%);
        /* transition: transform 0.3s ease-in; */
    }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


#welcome-section{
    height: 100vh;
    width: 100%;
    /* position: relative; */
    background-color:rgb(64 64 114);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #welcome-section::before{
    content: "";
    background: url(/images/71114399_134134134628493_2978090727742898176_o.jpg);
    position:absolute;
    background-size: cover;
    background-position: top center;
    top:0px;
    opacity: .7;
    left:0px;
    height: 100vh;
    width: 100%;
}
#welcome-section h1,#welcome-section p{
    position: relative;
    color: black;
} */
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

#welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

#projects {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

h2 {
    font-size: 4.2rem;
    text-align: center;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
   object-fit: cover; 
} 

 img {
    display: block;
    width: 100%;
    height: auto;
}


a p {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    width: 100%;
    box-sizing: border-box;
    background: var(--main-gray);
    text-align: center;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.code:hover{
    color: var(--main-white);
}


@media (max-width: 30.625em){

#project-list {
   /* width: 90vw; */
   grid-template-columns: 1fr;
}

h1 {
    font-size: 4rem;
}

#welcome-section{
    height: 94vh;
    width: 100%;
    position: relative;
    /* background-color:rgb(64 64 114);
    display: flex;
    flex-direction: column;
    align-items: center; */
    justify-content: flex-end;
}

#welcome-section::before{
    content: "";
    background: url(/images/71114399_134134134628493_2978090727742898176_o.jpg);
    position:absolute;
    background-size: cover;
    background-position: top center;
    top:0px;
    opacity: .7;
    left:0px;
    height: 94vh;
    width: 100%;
}
#welcome-section h1,#welcome-section p{
    position: relative;
}

#welcome-section h1{
    color: black;
}
}

@media (max-width: 61.25em){
html {
    font-size: 58%;
}

#conlink
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
/*     width: 50%; */
    flex-wrap: wrap;
}

}

@media (max-width: 75em){
html {
    font-size: 60%;
}

#conlink a
{
    font-size: 1.7rem;
}

}

@media (max-width: 28.75em){
#navbar{
    display: flex;
    justify-content:center;
    font-size: small;
}



.nav-list {
    margin: 0 1rem;
}
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
}

#conhead
{
    margin-bottom: 40px;
}

#conlink
{
    display: flex;
    justify-content: space-between;
    align-items: center;
/*     width: 50%; */
    flex-wrap: wrap;
}

#conlink a
{
    margin: 10px;
}


.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.footer{
    background-color: var(--main-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
