*{
box-sizing: border-box;
}
html{
background-color: rgb(197, 194, 194);

}
#container{
    max-width: 700px;
    margin: 40px auto;
    font-family: 'Ubuntu', sans-serif;
    position: static;
    
}

#container::before{
    content: "";
    position:fixed;
    background: url(/IMAGE/72466915_137760944265812_2239702535784890368_o.jpg);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

header{
    margin-bottom: 32px;
}

p{
    margin: 0px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

#title{
    text-align: center;
    margin-bottom: 0.2rem;
    margin-top: 0px;
    font-size: 2.4rem;
}

#description {
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 0px;
}

#survey-form{
    padding: 35px;
    background-color: rgb(84, 194, 194);
}

.form-control{
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 7px;
}

.form-group{
    margin: 12px 0px 12px 0px;
}

label{
    display: block;
    font-size: 1.2rem;
}

button{
    cursor: pointer;
}

